# dependencies
**/node_modules

# misc
**/.DS_Store

# environment config
**/.env

# production
**/build
**/npm-debug.log*
.vscode/settings.json
.vscode/settings.json
.vscode/launch.json
.vscode/settings.json

client/dev
